/* .bg {
   position: fixed;
   top: -50%;
   left: -50%;
   width: 200%;
   height: 200%;
 }
 .bg img {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   min-width: 50%;
   min-height: 50%;
 }*/

/*navbar {
  position: fixed;
  z-index: 1 !important;
}*/

/*.nav-fixed-top{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}*/

#form-columns {
  margin-top: auto;
}

#img-column {
  height: 80rem;
  overflow-y: scroll;
}

.detail-box {
  height: 100%;
}

.btn-wrapper {
  margin-top: 1rem;
}